.nav-link:hover:not(.disabled):not(.active) {
  /* color: #00000080; */
  background-color: #454a50;
  transition: background-color 150ms ease;
}

.nav-link.disabled:hover {
  background-color: #454a50;
  transition: background-color 150ms ease;
}

.nav-link.active {
  background-color: #3b84f8;
  transition: background-color 150ms ease;
  color: white !important;
}

.project-id-copy {
  color: rgba(255, 255, 255, 0.65);
}

.project-id-copy:hover {
  color: rgba(255, 255, 255, 0.9);
}

.project-id-copy .material-icons {
  font-size: 16px;
  vertical-align: middle;
}
