<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
      <!-- 👇 THIS is the important bit -->
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    
    <handlers>
      <add name="iisnode" path="src/main.js" verb="*" modules="iisnode" />
    </handlers>
	
    <rewrite>
      <rules>
        <rule name="Node" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="src/main.js" />
        </rule>
      </rules>
    </rewrite>
	 <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"/>
	</system.webServer>
</configuration>
